* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h3 {
  font-size: 30px;
  font-family: sans-serif;
  line-height: 1.5; }

header {
  background-color: #a9a4f8;
  padding: 2rem; }

.imgLogo {
  width: 5vw;
  border-radius: 300px; }

.collapse {
  background-color: #a9a4f8; }

.container-fluid {
  background-color: #a9a4f8;
  margin: 0;
  padding: 0; }

.navbar {
  margin: 0;
  padding: 0; }

.nav-link {
  color: black; }

@media (max-width: 768px) {
  .imgLogo {
    width: 10vw; } }

@media (max-width: 572px) {
  .imgLogo {
    width: 10vw; } }

main {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrWTvfAcKTdSQ9ldsj1BdmpmyGWFxr6QTVpg&usqp=CAU");
  text-align: center; }
  main .formulario {
    display: flex;
    align-items: center;
    justify-content: center; }
  main .carouselPadre {
    display: flex;
    align-items: center;
    justify-content: center; }
  main .parrafoNov {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%; }
  main .parrafoNovedad {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSG4NxPj3Qi77Ggh6R8qOFlfYnR4KcPb0uO_w&usqp=CAU");
    padding: 1rem;
    font-size: 30px;
    color: black;
    width: 70vw;
    font-weight: bold;
    border-radius: 100px; }
    main .parrafoNovedad .destacado {
      font-weight: bold;
      color: white; }

.parrafoIntroduccion {
  background-color: #9b9bdb;
  text-align: center;
  padding: 1rem;
  font-size: 30px; }

.juanaBonitaPadre {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }

.vanesaImagenes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 3%; }

.main_div--img {
  width: 32%; }

.videoExplicativo {
  width: 70vw;
  height: 70vh; }

.tabla {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: antiquewhite; }

input {
  background-color: #ffd5ff; }

legend {
  color: black;
  font-weight: bold; }

select {
  background-color: #ffd5ff; }

textarea {
  background-color: #ffd5ff; }

@media (max-width: 768px) {
  main {
    align-items: center; }
  .carouselPadre {
    width: 30%;
    height: 40%;
    align-items: center; }
  .parrafoNovedad {
    font-size: 20px;
    width: 70vw; } }

@media (max-width: 572px) {
  main .parrafoNovedad {
    font-size: 10px;
    width: 80vw; } }

h1 {
  color: #EAFFDA;
  font-size: 36px;
  font-weight: 900;
  text-transform: uppercase; }

footer div nav {
  align-content: space-around; }

footer div a {
  text-decoration: none; }

.footer {
  background-image: linear-gradient(#8583ec, #b7b7e9);
  height: 30vh; }
  .footer .navPadre {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }

.iconoFacebook {
  color: blue;
  font-size: 2rem;
  margin: 50px 50px 50px 50px;
  padding: 0.5rem; }
  .iconoFacebook:hover {
    background-color: #00aeff; }

.iconoInstagram {
  color: black;
  font-size: 2rem;
  margin: 50px 50px 50px 50px;
  padding: 0.5rem; }
  .iconoInstagram:hover {
    background-color: #5eb0d6; }

.iconoWhatsapp {
  color: green;
  font-size: 2rem;
  margin: 50px 50px 50px 50px;
  padding: 0.5rem; }
  .iconoWhatsapp:hover {
    background-color: #48d660; }
