* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  background-image: linear-gradient(#8583ec, #b7b7e9); }

.nav-link {
  color: black; }

main {
  background-color: #e7c6ee; }

.main_div--imgjuana {
  width: 400px;
  height: 600px; }

.main_div--imgNatura {
  width: 32%; }

.main_div--img {
  width: 400px;
  height: 450px; }

.footer {
  background-image: linear-gradient(#A3B18A, white); }

.footer__div--seguinos {
  height: 100px;
  width: 100px;
  display: inline-block;
  padding: 75px;
  margin: 5px 0px 15px 50px; }

.footer__div--contactanos {
  height: 100px;
  width: 100px;
  display: inline-block;
  padding: 75px;
  margin: 15px 0px 15px 700px; }
