* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h3 {
  font-size: 30px;
  font-family: sans-serif;
  line-height: 1.5; }

header {
  background-image: linear-gradient(#b7b7e9, #8583ec);
  padding: 2rem; }

.imgLogo {
  border-radius: 300px; }

.nav-link {
  color: black; }

@media (max-width: 768px) {
  .imgLogo {
    width: 30%; } }

@media (max-width: 572px) {
  .imgLogo {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center; } }

main {
  background-image: linear-gradient(#9b9bdb, #8583ec);
  text-align: center; }
  main .carousel {
    margin: 0px 300px 20px 150px; }
  main .formulario {
    display: flex;
    align-items: center;
    justify-content: center; }
  main .parrafoNovedad {
    background-image: radial-gradient(#f803f8, #ff2aca, #ffb7ed);
    padding: 1rem;
    font-size: 30px; }
    main .parrafoNovedad .destacado {
      font-weight: bold;
      color: red; }

.parrafoIntroduccion {
  background-color: #9b9bdb;
  text-align: center;
  padding: 1rem;
  font-size: 30px; }

.main_div--imgjuana {
  width: 32%; }

.main_div--imgNatura {
  width: 32%; }

.main_div--img {
  width: 32%; }

@media (max-width: 768px) {
  main .videoExplicativo {
    width: 560px;
    height: 315px; }
  main .carousel {
    margin: 0px 50px 0px 100px; } }

@media (max-width: 572px) {
  main .videoExplicativo {
    width: 280px;
    height: 157.5px; }
  main .carousel {
    margin: 0px 25px 0px 50px; } }

h1 {
  color: #EAFFDA;
  font-size: 36px;
  font-weight: 900;
  text-transform: uppercase; }

.footer {
  background-image: linear-gradient(#8583ec, #b7b7e9); }

.footer__div--seguinos {
  height: 100px;
  width: 100px;
  display: inline-block;
  padding: 75px;
  margin: 5px 0px 15px 50px; }

.iconoFacebook {
  width: 50%; }

.footer__div--contactanos {
  height: 100px;
  width: 100px;
  display: inline-block;
  padding: 75px;
  margin: 15px 0px 15px 700px; }

@media (max-width: 768px) {
  .footer__div--contactanos {
    margin: 15px 0px 15px 100px; } }
