//mat-get// 
$estilos: (
  color: #3673D9,
  centro: center,
  tFuente: 20px,
  1rem : 1rem
);

p {
  background-color: map-get($estilos, color);
  text-align: map-get($estilos, centro);
  padding: map-get($estilos, 1rem);
  font-size:map-get($estilos, tFuente);
}
