footer{
    div{
        nav{
            align-content: space-around;
        }
        a{
            text-decoration: none;
        }
        }
    }

.footer {
    background-image: linear-gradient(rgb(133, 131, 236), rgb(183, 183, 233));
    height: 30vh;
    .navPadre{
        display: flex;
        flex-direction: row; 
        justify-content: space-around;
        align-items: center;
    }
    
    
}
.iconoFacebook {
    color: blue;
    font-size: 2rem;
    margin: 50px 50px 50px 50px;
    padding: 0.5rem;

    &:hover {
        background-color: rgb(0, 174, 255);
    }
}

.iconoInstagram {
    color: black;
    font-size: 2rem;
    margin: 50px 50px 50px 50px;
    padding: 0.5rem;

    &:hover {
        background-color: rgb(94, 176, 214);

    }
}

.iconoWhatsapp {
    color: green;
    font-size: 2rem;
    margin: 50px 50px 50px 50px;
    padding: 0.5rem;

    &:hover {
        background-color: rgb(72, 214, 96);

    }

}

h3 {
    @extend %estiloPalabras;
}