header {
    background-color: rgb(169, 164, 248);
    padding: 2rem;
    
 
}
.imgLogo{
width: 5vw;
border-radius: 300px;

}
.collapse{
    background-color: rgb(169, 164, 248); 
}
.container-fluid{
    background-color: rgb(169, 164, 248);
    margin: 0; 
    padding: 0;
}
.navbar{
    margin: 0;
    padding: 0;
}
.nav-link{
    color: black;
}
@media (max-width: 768px) {
    .imgLogo {
        width: 10vw;
    }
    }
    @media (max-width: 572px) {
        .imgLogo {
            width: 10vw
        } 
}
