header {
    background-image: linear-gradient( rgb(183, 183, 233), rgb(133, 131, 236) );
    padding: 2rem;
 
}
.imgLogo{
    border-radius: 300px;
}

.nav-link{
    color: black;
}

  @media (max-width: 768px) {
    .imgLogo {
        width: 30%;
    }
    }
    @media (max-width: 572px) {
        .imgLogo {
            width: 30%;
            display: flex;
        align-items: center;
        justify-content: center
        }
    }