main {
    background-color: #3673D9;
    text-align: center;
    .formulario{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.main_div--imgjuana {
    width: 32%;
   
}

.main_div--imgNatura {
    width: 32%;
}

.main_div--img {
    width:32%;
}

@media (max-width: 768px) {
   main{
 .videoExplicativo {
    width: 560px ;
    height: 315px ;
    }
}}

@media (max-width: 572px) {
   main{
        .videoExplicativo {
        width: 280px ;
        height: 157.5px ;
    }
}}
h1{
     @include fontStyle ($colorh1, 36px, 900);
}