main {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrWTvfAcKTdSQ9ldsj1BdmpmyGWFxr6QTVpg&usqp=CAU");
    text-align: center;
    .formulario{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .carouselPadre{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .parrafoNov{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5%;
    }
    .parrafoNovedad{
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSG4NxPj3Qi77Ggh6R8qOFlfYnR4KcPb0uO_w&usqp=CAU");
        padding: 1rem;
        font-size: 30px;
        color: black;
        width: 70vw;
        font-weight: bold;
        border-radius: 100px;
        .destacado{
            font-weight: bold;
            color: white;
        }
    }

}
.parrafoIntroduccion{
    background-color: map-get($estilos, color);
    text-align: map-get($estilos, centro);
    padding: map-get($estilos, 1rem);
    font-size:map-get($estilos, tFuente);
  }
  
.juanaBonitaPadre{
    display:flex;
    flex-direction: row; 
    flex-wrap:wrap ;
    justify-content: space-around;
    align-items: center;
}

.main_div--imgNat{
    width:40vw;
}
.main_div--imgNatura {
    width: 32%;
}

.vanesaImagenes{
    display: flex;
    flex-direction: row; 
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
    padding: 3%;
    
}
.main_div--img {
    width:32%;
}
.videoExplicativo{
    width: 70vw;
    height: 70vh;
}
.tabla{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: antiquewhite;

}
input{
    background-color: rgb(255, 213, 255);
}
legend{
    color: black;
    font-weight: bold;
}
select{
    background-color: rgb(255, 213, 255);
}  
textarea{
    background-color:rgb(255, 213, 255) ;
}
@media (max-width: 768px) {
   main
    
    .parrafoNovedad{
        font-size: 20px;
        width: 70vw;
    }
}

@media (max-width: 572px) {
   main
    
    .parrafoNovedad{
        font-size: 10px;
        width: 80vw;
    }
}
h1{
     @include fontStyle ($colorh1, 36px, 900);
}